{% extends 'adminpanel_base.html' %}
{% load static %}
{% block content%}



<!-- Table Start -->
<div class="col-sm-12 col-xl-6" style="width: auto;">
    <div class="bg-light rounded h-100 p-4 mt-5">
        <button class="btn btn-primary float-end align" data-bs-toggle="modal" data-bs-target="#addProductModal">Add New Brand</button>
        <h6 class="mb-4">Brands Table</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Brand Name</th>
                    {% comment %} <th scope="col">Description</th>
                    <th scope="col">Image</th> {% endcomment %}
                    <th scope="col">Is_available</th>
                    <th scope="col">Actions</th><!-- Add a new column for Actions -->
                </tr>
            </thead>
            <tbody>
                {% for brand in brands %}
                <tr>
                    <th scope="row">{{ brand.brand_name }}</th>
                    {% comment %} <td>{{ category.description }}</td>
                    <td class="align-middle"><img src="/media/{{ category.cat_image }}" alt="{{ category.cat_image }}" width="70px" height="70px"></td> {% endcomment %}
                    <td>{{ brand.is_available }}</td>


                    <!-- Actions column with flexbox utility classes -->
                    <td class="d-flex align-items-center justify-content-center">
                        {% if brand.is_available %}
                            <a href="{% url 'brand_block' brand.id %}" class="btn btn-outline-danger mx-2 mt-2">Block</a>
                        {% else %}
                            <a href="{% url 'brand_unblock' brand.id %}" class="btn btn-outline-success mx-1">Unblock</a>
                        {% endif %}
                        <a href="#" class="btn btn-outline-dark mt-2" data-bs-toggle="modal" data-bs-target="#editProductModal{{ brand.id }}">Edit</a>

                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Table End -->


<!-- Add Product Modal -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="addProductModalLabel">Add New Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Add form fields here -->
        <form method="POST" action="{% url 'add_brand' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="brand_name">Brand Name</label>
            <input type="text" class="form-control" id="brand_name" name="brand_name" required>
          </div>

          {% comment %} <div class="form-group">
            <label for="editProductDescription" class="form-label">Category Description</label>
            <textarea class="form-control" id="editProductDescription" name="category_description" rows="4" required></textarea>
          </div>
           {% endcomment %}
          <div class="form-group">
            <label for="Is_available">Is_available</label>
            <select class="form-control" id="Is_available" name="Is_available" required>
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select> 
          </div>

            {% comment %} <div class="form-group">
                <label for="productImage" class="form-label">Product Image</label>
                <input type="file" class="form-control" id="productImage" name="productImage">
            </div> {% endcomment %}

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% for brand in brands %}
<!-- Edit Product Modal -->
<div class="modal fade" id="editProductModal{{ brand.id }}" tabindex="-1" aria-labelledby="editProductModalLabel{{brand.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel{{brand.id }}">Edit Brand</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'edit_brand' brand.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ brand.id }}">
          <div class="form-group">
            <label for="editProductName{{ pcategoryid }}" class="form-label">Brand Name</label>
            <input type="text" class="form-control" id="editProductName{{ brand.id }}" name="brand_name" value="{{ brand.brand_name }}" style="margin-bottom:10px;" required>
          </div>

          {% comment %} <div class="form-group">
            <label for="editProductDescription{{ brand.id }}" class="form-label">brand Description</label>
            <textarea class="form-control" id="editProductDescription{{ category.id }}" name="category_description" rows="4" required>{{ category.description }}</textarea>
          </div> {% endcomment %}
{% comment %} 
          <div class="form-group">
            <label for="editProductImages{{ brand.id }}" class="form-label">Images</label>
            <input type="file" class="form-control" id="editProductImages{{ brand.id }}" name="brand_images" accept="image/*">
            <div class="mt-2">
              <img src="/media/{{ category.cat_image }}" alt="{{ category.cat_image }}" width="100" height="100">
            </div>
          </div> {% endcomment %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}

