{% extends 'adminpanel_base.html' %}
{% load static %}
{% block content %}


<!-- Add Brand Modal -->
<div class="modal fade" id="addBrandModal" tabindex="-1" aria-labelledby="addBrandModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addBrandModalLabel">Manage Brands</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        {% for brand in brands %}
        <div class="brand-container">
          <span class="brand-name">{{ brand }}</span>
          {% if brand.is_active == True %}
            <a href="{% url 'brand_block' brand.id %}" class="btn btn-outline-danger mx-1 mt-2 py-0 px-2">block</a>
          {% else %}
            <a href="{% url 'brand_unblock' brand.id %}" class="btn btn-outline-success mx-1 mt-2 py-0 px-2">Unblock</a>
          {% endif %}
        </div>
        {% endfor %}
        <hr class="form-underline">
          <form method="POST" action="{% url 'add_brand' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="brand_name" style="color: #0e3ad7;">ADD NEW BRAND</label>
              <input type="text" class="form-control" id="brand_name" placeholder="Enter the brand Name"name="brand_name" required>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<!-- Add Product Modal -->
            <!-- Add Product Modal -->
            <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="addProductModalLabel">Add New Product</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Add form fields here -->
                      <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="product_name">Product Name</label>
                          <input type="text" class="form-control" id="product_name" name="product_name" required>
                        </div>
              
                        <div class="form-group">
                            <label for="product_category">Category</label>
                            <select class="form-control" id="product_category" name="product_category" required>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select> 
                        </div>
              
                        <div class="form-group">
                          <label for="product_new_arrival">New Arrival</label>
                          <select class="form-control" id="product_new_arrival" name="product_new_arrival" required>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                          </select> 
                        </div>
      
                        <div class="form-group">
                          <label for="product_brand">Brand</label>
                          <select class="form-control" id="product_brand" name="product_brand" required> 
                            {% for brand in activebrands %}
                              <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                            {% endfor %}
                          </select> 
                        </div>
         
                        <div class="form-group">
                          <label for="editProductDescription" class="form-label">Product Description</label>
                          <textarea class="form-control" id="editProductDescription" name="product_description" rows="4" required></textarea>
                        </div>
              
                        <div class="form-group">
                          <label for="product_mrp">MRP</label>
                          <input type="number" class="form-control" id="product_mrp" name="product_price" min="0" required>
                        </div>
              
                        <div class="form-group">
                          <label for="productImage" class="form-label">Product Image</label>
                          <input type="file" class="form-control" id="productImage" name="product_image">
                        </div>
              
                        <div class="modal-footer">
                          <button type="submit" class="btn btn-primary">Save</button>
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </div>
{% for category in categories %}
<!-- Edit Product Modal -->
<div class="modal fade" id="editProductModal{{ category.id }}" tabindex="-1" aria-labelledby="editProductModalLabel{{ category.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductModalLabel{{ category.id }}">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'edit_category' category.id %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="hidden" name="product_id" value="{{ category.id }}">
          <div class="form-group">
            <label for="editProductName{{ pcategoryid }}" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="editProductName{{ category.id }}" name="category_name" value="{{ category.category_name }}" style="margin-bottom:10px;" required>
          </div>

          <div class="form-group">
            <label for="editProductDescription{{ category.id }}" class="form-label">Category Description</label>
            <textarea class="form-control" id="editProductDescription{{ category.id }}" name="category_description" rows="4" required>{{ category.description }}</textarea>
          </div>

          <div class="form-group">
            <label for="editProductImages{{ category.id }}" class="form-label">Images</label>
            <input type="file" class="form-control" id="editProductImages{{ category.id }}" name="category_images" accept="image/*">
            <div class="mt-2">
              <img src="{{ category.category_image.url }}" alt="{{ category.category_image}}" width="100" height="100">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save Changes</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
</tbody>
</table>
</div>
</div>

<!-- Table Start -->
<div class="col-sm-12 col-xl-6" style="width: auto;">
    <div class="bg-light rounded h-100 p-4 mt-5">
        <button class="btn btn-primary float-end align" data-bs-toggle="modal" data-bs-target="#addBrandModal">Add New Brand</button>
        <button class="btn btn-primary float-end align" data-bs-toggle="modal" data-bs-target="#addProductModal">Add New Product</button>
        <h6 class="mb-4">Product List</h6>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Description</th>
                    <th scope="col">Variant</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th><!-- Add a new column for Actions -->
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                  <td>{{ product.product_name }}</td>
        
                  <td>{{ product.category.category_name }}</td>
                  <td>{{ product.product_price }}</td>
                  <td>{{ product.brand }}</td>
                  <td>{{ product.description }}</td>
                  <h1 hidden>{{ product.id }}</h1>
                  <td>
                          <!-- Dropdown menu -->
                    <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                          <i class="fa fa-edit me-lg-2"></i>
                          <span class="d-none d-lg-inline-flex">Colours</span>
                      </a>
                      <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                          {% for color in product.colour_set.all %}
                              <h6 class="fw-normal mb-0 ml-3 variant-trigger" data-bs-toggle="modal" data-bs-target="#editVariantModal{{ color.id }}" data-variant-color="{{ color.Product_colour }}">
                                  <i class="fa fa-edit me-lg-1" style="font-size: 0.7rem;"></i>
                                  {{ color.product_colour }} <span value="view"></span>
                              </h6>
                          {% endfor %}
                      </div>
                    </div>
        
                    <!-- Modal content -->
                    {% for color in product.colour_set.all %}
                      <div class="modal fade" id="editVariantModal{{ color.id }}" tabindex="-1" aria-labelledby="editVariantModalLabel{{ var.id }}" aria-hidden="true">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="editVariantModalLabel{{ color.id }}">Edit Colour</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <!-- Add form fields here -->
                                      <form method="POST" action="{% url 'colour_details' color.id %}" enctype="multipart/form-data">
                                          {% csrf_token %}
                                          <!-- Form fields go here -->
                                          <div class="form-group">
                                            <label for="product_name">Product Name {{ color.product_colour }} </label>
                                            <input type="text" class="form-control" id="product_name" name="product_name" value="{{ product.product_name }}"readonly>
                                          </div>
                                
                                          <div class="form-group">
                                            <label for="varitation_category">varitation_category </label>
                                            <input type="text" class="form-control" id="product_name" name="varitation_category" value="color"readonly>
                                          </div>
                            
                                          <div class="form-group">
                                            <label for="variation_quantity{{ color.id }}">Colour_stock</label>
                                            <input type="number" class="form-control" id="variation_quantity{{ color.id }}" name="colour_stock" value ="{{ color.colour_stock }}" min="0" required>
                                          </div>
                                
                                          <div class="form-group">
                                            <label for="product_new_arrival">Is_available</label>
                                            <select class="form-control" id="product_new_arrival" name="colour_is_available" required>
                                              <option value="1">Yes</option>
                                              <option value="0">No</option>
                                            </select> 
                                          </div>
                                
                                          <div class="form-group">
                                            <label for="varitation_value{{ color.id }}">Product colour</label>
                                            <input type="text" class="form-control" id="variation_value{{ color.id }}" name="product_colour" value ="{{ color.product_colour }}" required>
                                          </div>
                                
                                          <div class="form-group">
                                            <label for="editProductImages{{ color.id }}" class="form-label">Images</label>
                                            <input type="file" class="form-control" id="editProductImages{{ color.id }}" name="variant_image" accept="image/*">
                                            <div class="mt-2">
                                              <img src="{{ color.variant_image.url}}" alt="{{ color.variant_image }}" width="100" height="100">
                                            </div>
                                          </div>
                                  </div>
                                  <div class="modal-footer">
                                         <!-- Delete Confirmation Button -->
                                      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmModal{{ color.id }}">Delete</button>
        
                                      <button type="submit" class="btn btn-primary">Save</button>
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  </div>          
                                </form>
                              </div>
                          </div>
                      </div>
                          <!-- Delete Confirmation Modal -->
                      <div class="modal fade" id="deleteConfirmModal{{ color.id }}" tabindex="-1" aria-labelledby="deleteConfirmModalLabel{{ color.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteConfirmModalLabel{{ color.id }}">Delete Variant Confirmation</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this colour "{{ color.product_colour }}"?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'delete_colour' color.id %}" class="btn btn-danger">Confirm Delete</a>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        
                  <button class="btn btn-primary mx-1 mt-3 " data-bs-toggle="modal" data-bs-target="#addVariantModal{{ product.id }}">Add Colour</button>
        
                </td> 
        
                  <td class="align-middle"><img src="{{ product.images.url}}" alt="{{ product.images}}" width="70px" height="70px"></td>
        
                  <td>
                  {% comment %} <button class="btn btn-outline-warning mx-1 mt-3 " data-bs-toggle="modal" data-bs-target="#addVariantModal{{ product.id }}">Variant</button> {% endcomment %}
        
                   <a href="#" class="btn btn-outline-dark mx-1 mt-3 px-4" data-bs-toggle="modal" data-bs-target="#editProductModal{{ product.id }}">Edit</a>
          
                    {% if product.is_available %}
                      <a href="{% url 'product_block' product.id %}" class="btn btn-outline-danger mx-1 mt-2 px-3">Block</a>
                    {% else %}
                      <a href="{% url 'product_unblock' product.id %}" class="btn btn-outline-success mx-1 mt-2">Unblock</a>
                    {% endif %}
                  </td>
                </tr>
        
        <!-- Edit Product Modal -->
        <div class="modal fade" id="editProductModal{{ product.id }}" tabindex="-1" aria-labelledby="editProductModalLabel{{ product.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel{{ product.id }}">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form action="{% url 'edit_product' product.id %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="hidden" name="product_id" value="{{ product.id }}">
                  <div class="form-group">
                    <label for="editProductName{{ product.id }}" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="editProductName{{ product.id }}" name="product_name" value="{{ product.product_name }}" style="margin-bottom:10px;" required>
                  </div>
                  <div class="form-group">
                    <label for="editProductBrand">Brand:</label>
                    <select class="form-control" id="editProductBrand" name="brand">
                      <option value="">Select brand</option>
                      {% for brand in activebrands %}
                      <option value="{{ brand.id }}" {% if product.brand.id == brand.id %}selected{% endif %}>{{ brand.brand_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="editProductCategory">Category:</label>
                    <select class="form-control" id="editProductCategory" name="category">
                      <option value="">Select category</option>
                      {% for category in categories %}
                      <option value="{{ category.id }}" {% if product.category.id == category.id %}selected{% endif %}>{{ category.category_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  
                  <div class="form-group">
                    <label for="product_new_arrival">New Arrival</label>
                    <select class="form-control" id="product_new_arrival" name="product_new_arrival" required>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select> 
                  </div>
        
                  <div class="form-group">
                    <label for="editProductDescription{{ product.id }}" class="form-label">Product Description</label>
                    <textarea class="form-control" id="editProductDescription{{ product.id }}" name="product_description" rows="4" required>{{ product.description }}</textarea>
                  </div>
        
                  <div class="form-group">
                    <label for="editProductMRP{{ product.id }}" class="form-label">MRP</label>
                    <input type="number" step="0.01" class="form-control" id="editProductMRP{{ product.id }}" name="product_price" value="{{ product.product_price }}" required>
                  </div> 
        
                  <div class="form-group">
                    <label for="editProductImages{{ product.id }}" class="form-label">Images</label>
                    <input type="file" class="form-control" id="editProductImages{{ product.id }}" name="product_images" accept="image/*">
                    <div class="mt-2">
                      <img src="{{ product.images.url }}" alt="{{ product.images.name}}" width="100" height="100">
              
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
             <!--mange-variant-->
        <div class="modal fade" id="addVariantModal{{ product.id }}" tabindex="-1" aria-labelledby="addVariantModalLabel{{ product.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addVariantModalLabel{{ product.id }}">Add New Colour</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- Add form fields here -->
                <form method="POST" action="{% url 'colour' product.id %}" enctype="multipart/form-data">
                  {% csrf_token %}
             
                  <div class="form-group">
                    <label for="product_name">Product Name {{ product.id }}</label>
                    <input type="text" class="form-control" id="product_name" name="product_name" value="{{ product.product_name }}"readonly>
                  </div>
        
                  <div class="form-group">
                    <label for="varitation_category">varitation_category</label>
                    <input type="text" class="form-control" id="product_name" name="varitation_category" value="color"readonly>
                  </div>
        
                  <div class="form-group">
                    <label for="variation_quantity">Colour_stock</label>
                    <input type="number" class="form-control" id="variation_quantity" name="colour_stock" min="0" required>
                  </div>
        
                  <div class="form-group">
                    <label for="product_new_arrival">Is_available</label>
                    <select class="form-control" id="product_new_arrival" name="colour_is_available" required>
                      <option value="1">Yes</option>
                      <option value="0">No</option>
                    </select> 
                  </div>
        
                  <div class="form-group">
                    <label for="varitation_value">Product colour</label>
                    <input type="text" class="form-control" id="variation_value" name="product_colour" required>
                  </div>
        
                  <div class="form-group">
                    <label for="productImage" class="form-label">Variant Image</label>
                    <input type="file" class="form-control" id="productImage" name="variant_image" required>
                  </div>
                  
                </div>
        
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
     <!-- Table End -->
     {%endfor%}
{% endblock %}

