{% extends 'base.html' %}
{% load static%}
{% block content%}

  <body>
    <img src="{% static 'home/img/forgotpassword.jpg' %}" alt="Background Image" style="width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: -1;">
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center
          min-vh-100">
        <div class="col-12 col-md-8 col-lg-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <div class="mb-4">
                <h5>Reset Password</h5>
                <p class="mb-2">Enter your registered phone number to reset the password
                </p>
              </div>
              {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong></strong> {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
              <form method="post">  <!-- Change method to "post" -->
                {% csrf_token %}
                <div class="mb-3">
                  <label for="email_or_phone" class="form-label">Enter Ph number</label>
                  <input type="text" id="email_or_phone" class="form-control" name="email_or_phone" placeholder="Enter Your Email or ph number"
                 required=""> 
                </div>
                <div class="mb-3 d-grid">
                  <button type="submit" class="btn btn-primary" style="color: white !important;">
                    Reset Password
                  </button>
                </div>
                <span>Don't have an account? <a href="{% url 'signin' %}">sign in</a></span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

{% endblock%}